
#time {
    position: relative;

}

header {
    background-color: #DBDAD6;
    font-family: 'Cinzel', serif;
}

#answers {
    list-style-type: none;
    padding-left: 1%;
}

#answers li, #scores li {
    margin: 25px 10px;
    border-radius: 6px;
    background-color: #c5bcb1dc;
    max-width: 50%;
    text-align: center;
    padding: 10px 0px;
}

#landing {
    display: block;
    font-family: 'Rokkitt', serif;
}

#content {
    display: none;
    font-family: 'Rokkitt', serif;
}

#setHighScores {
    display: none;
    font-family: 'Rokkitt', serif;
}

#initials {
    max-width: 12%;
}

#highScores {
    display: none;
    font-family: 'Rokkitt', serif;
}

#beginBtn {
    max-width: 30%;
    height: 50%;
    padding: 20px 0px;
    position: relative;
    left: 35%;
    border-radius: 6px;
    background-color: #c5bcb1dc;
}

#submitBtn {
    max-width: 30%;
    padding: 20px 0px;
    position: relative;
    left: 47%;
    top: -62px;
    border-radius: 6px;
    text-align: center;
    background-color: #c5bcb1dc;
}

#backBtn {
    max-width: 30%;
    padding: 20px 0px;
    position: relative;
    left: 14%;
    border-radius: 6px;
    text-align: center;
    background-color: #c5bcb1dc;
}

#clearBtn {
    max-width: 30%;
    padding: 9px 0px;
    position: relative;
    left: 58%;
    top: -65px;
    border-radius: 6px;
    text-align: center;
    background-color: #c5bcb1dc;
}



#feedBack {
    font-family: 'Cinzel', serif;
}





@media screen and (min-width: 768px) {
    .card {
        margin: 100px 200px;
    }

    #backBtn {
        max-width: 30%;
        padding: 20px 0px;
        position: relative;
        left: 14%;
        border-radius: 6px;
        text-align: center;
        background-color: #c5bcb1dc;
    }
    
    #clearBtn {
        max-width: 30%;
        padding: 20px 0px;
        position: relative;
        left: 58%;
        top: -64px;
        border-radius: 6px;
        text-align: center;
        background-color: #c5bcb1dc;
    }
}

